p > strong,
p > abbr,
p > code,
p > kbd,
p > a {
    margin: auto 0.25rem;
}
pre > code {
    display: block;
    background: #f8f9fa;
    padding: 1.5rem;

    [class^='hljs-'] {
        padding-left: 0.5rem;
    }
    position: relative;
    &::before {
        position: absolute;
        top: 0.25rem;
        right: 0.5rem;
        content: 'Copy';
        color: gray;
        cursor: pointer;
    }
}
