blockquote {
    border-left: 3px solid lightgray;
    padding-left: 1rem;
}
pre > code {
    display: block;
    max-width: 84.5vw;
    overflow: auto;
    background: #f8f9fa;
    padding: 1.5rem;

    position: relative;
    &::before {
        position: absolute;
        top: 0.25rem;
        right: 0.5rem;
        content: 'Copy';
        color: gray;
        cursor: pointer;
    }
}
.vh-50 {
    height: 50vh;
}
.right-0 {
    right: 0;
}
.bd-example > * {
    margin: 0.25rem;
}
