pre > code {
    display: block;
    max-width: 84.5vw;
    overflow: auto;
    background: #f8f9fa;
    padding: 1.5rem;

    position: relative;
    &::before {
        position: absolute;
        top: 0.25rem;
        right: 0.5rem;
        content: 'Copy';
        color: gray;
        cursor: pointer;
    }
}
